
<form class="container" id="edit" name="myForm">

  <div class="show-{{!!(song._id.$oid) || isNew}}">

    <section class="meta-inputs">
      <span class="meta artist" ng-class="{error: myForm.name.$invalid}">
        <input class="edit" type="text" name="artist" ng-model="song.artist" placeholder="Artist" maxlength="48" required>
      </span>
      <span class="separator">·</span>
      <span class="meta album" ng-class="{error: myForm.name.$invalid}">
        <input class="edit" type="text" name="album" ng-model="song.album" placeholder="Album" maxlength="72">
      </span>
      <span class="meta song" ng-class="{error: myForm.name.$invalid}">
        <input class="edit" type="text" name="song" ng-model="song.song" placeholder="Song title" maxlength="72" required>
      </span>
    </section>
   
    <div class="spacer"></div>

    <span class="lyrics">
      <textarea id="paste" name="lyrics" ng-model="song.lyrics" ng-change="test()" placeholder="Lyrics" required auto-grow></textarea>
    </span>

    <div class="spacer"></div>

    <div class="btns">
      <a ng-href="#/view/{{song._id.$oid}}" ng-hide="isNew" class="btn btn-cancel"><span class="icon icon-cancel"></span>cancel</a>
      <a ng-href="#/" ng-show="isNew" class="btn btn-cancel"><span class="icon icon-cancel"></span>cancel</a>
      <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-save" ng-hide="(song.song=='delete this song*')"><span class="icon icon-ok"></span><span ng-show="isNew">create</span><span ng-hide="isNew">save changes</span></button>
      <button ng-click="destroy()" class="btn btn-delete show-{{!isNew && (song.song=='delete this song*')}}"><span class="icon icon-delete"></span>delete</button>
    </div>

  </div>
  
</form>
