<form class="container" id="edit" name="editForm">

  <div class="show-{{!!(song._id.$oid) || isNew}}">
    <section class="meta-inputs">
      <span class="meta artist" ng-class="{error: editForm.name.$invalid}">
        <input focus="shouldFocus" class="edit" type="text" name="artist" ng-model="song.artist" placeholder="Artist" maxlength="48" required>
      </span>
      <span class="separator">·</span>
      <span class="meta album" ng-class="{error: editForm.name.$invalid}">
        <input class="edit" type="text" name="album" ng-model="song.album" placeholder="Album" maxlength="72">
      </span>
      <span class="meta song" ng-class="{error: editForm.name.$invalid}">
        <input class="edit" type="text" name="song" ng-model="song.song" placeholder="Song title" maxlength="72" required>
      </span>
    </section>
   
    <div class="spacer"></div>

    <span class="lyrics">
      <textarea auto-grow id="paste" name="lyrics" ng-model="song.lyrics" placeholder="Lyrics" required></textarea>
    </span>

    <div class="spacer"></div>

    <div class="btns">
      <a ng-href="/view/{{song._id.$oid}}" ng-hide="isNew" class="btn btn-cancel"><span class="icon icon-cancel"></span>cancel</a>
      <a ng-href="/" ng-show="isNew" class="btn btn-cancel"><span class="icon icon-cancel"></span>cancel</a>
      <button ng-click="save()" ng-disabled="isClean() || editForm.$invalid" class="btn btn-save" ng-hide="(song.song=='this.delete()')">
        <span ng-show="isNew"><span class="icon icon-plus" >add this song</span></span>
        <span ng-show="!isNew"><span class="icon icon-ok" >save changes<span></span>
      </button>
      <button ng-click="destroy()" class="btn btn-delete show-{{!isNew && (song.song=='this.delete()')}}"><span class="icon icon-delete"></span>delete</button>
    </div>

  </div>

</form>

<article class="container show-{{!!(errorId)}}" id="error">
  <p>Page not found for song ID <span class="error-id">{{errorId}}</span>.</p>
  <div class="spacer"></div>
  <div class="btns">
    <a ng-href="/" class="btn btn-left"><span class="icon icon-left"></span>home</a>
  </div>
</article>
