<section class="container" id="search">
  <input id="search-input" class="show-false" type="text" focus="true" ng-model="searchTerm" placeholder="search lyrics" autocomplete="off" autocorrect="off" autocapitalize="off" ng-change="updateState()" feeling-lucky>
  <a href="/" ng-click="clearSearchInput()" class="show-false" id="clear-search">
    <span class="icon icon-cancel"></span>
  </a>
  
</section>

<section class="container">
  <ul class="show-false" id="search-results">
      <div ng-repeat="song in songs | filter:searchFunction" id="search-result">
        <a ng-href="/view/{{song._id.$oid}}">
          <li>
            <p class="artist-album">
              <span class="artist">{{song.artist}}</span><span class="album" ng-show="(song.album)">&nbsp;·&nbsp;{{song.album}}</span>
            </p>
            <h2 class="song">{{song.song}}</h2>
            <span class="icon icon-right"></span>
          </li>
        </a>
        <div class="spacer"></div>
      </div>
  </ul>
</section>

<section class="container">
  <div class="show-false" id="no-results">
    <p>No lyrics found for <span class="query">{{searchTerm}}</span>.</p>
    <div class="spacer"></div>
    <div class="btns">
      <a ng-href="/add" class="btn btn-add" ng-click="clearSearch()"><span class="icon icon-plus">add them</span></a>
    </div>
  </div>
</section>