<section class="container" id="search">
  <input id="search-input" type="text" ng-model="search" placeholder="search lyrics" autofocus="autofocus" autocomplete="off">
</section>

<section class="container">
  <div class="show-{{(search.length>1) && !(songs | filter:search).length && !(search=='*')}}" id="no-results">
    <p>Sorry, no lyrics found for <span class="query">{{search}}</span>.</p>
    <div class="spacer"></div>
    <div class="btns">
      <a ng-href="/add" class="btn btn-add"><span class="icon icon-plus">add them</span></a>
    </div>
  </div>
</section>

<ul class="container show-{{(search.length>1)}}" id="search-results">
    <a ng-href="/view/{{song._id.$oid}}" ng-repeat="song in songs | filter:search | orderBy:'_id' | limitTo:24">
      <li>
        <p class="artist-album">
          <span class="artist">{{song.artist}}</span><span class="album" ng-show="(song.album)">&nbsp;·&nbsp;{{song.album}}</span>
        </p>
        <h2 class="song">{{song.song}}</h2>
        <span class="icon icon-right"></span>
      </li>
      <div class="spacer"></div>
    </a>
</ul>

<ul class="container show-{{(search=='*')}}" id="search-results">
    <a ng-href="/view/{{song._id.$oid}}" ng-repeat="song in songs | orderBy:'_id'">
      <li>
        <p class="artist-album">
          <span class="artist">{{song.artist}}</span><span class="album" ng-show="(song.album)">&nbsp;·&nbsp;{{song.album}}</span>
        </p>
        <h2 class="song">{{song.song}}</h2>
        <span class="icon icon-right"></span>
      </li>
      <div class="spacer"></div>
    </a>
</ul>
