// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  width: 100%;
  color: @color--body;
  background-color: @background-color--body;
  font-family: @font-family--body;
  font-weight: @font-weight--body;
  font-size: @font-size--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  z-index: @z-index--body;
}
.container {
  width: @width--container;
  max-width: @max-width--container;
  padding-left: @padding-left--container;
  padding-right: @padding-left--container;
  .margin-center();
}
.container--header {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}
a {
  color: @color--a;
  text-decoration: none;
}
.input, .textarea, .button {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  .font-smoothing(inherit);
  text-rendering: inherit;
  background: inherit;
}
.card-meta,
.article-meta {
  color: @color--meta;
  font-family: @font-family--meta;
  font-weight: @font-weight--meta;
  line-height: @line-height--meta;
  letter-spacing: @letter-spacing--meta;
}
.placeholder();

// typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family--headings;
}
h1 {
  font-size: @font-size--h1;
  line-height: @line-height--h1;
  letter-spacing: @letter-spacing--h1;
}
h2 {
  font-size: @font-size--h2;
  line-height: @line-height--h2;
  letter-spacing: @letter-spacing--h2;
}
h3 {
  font-size: @font-size--h3;
  line-height: @line-height--h3;
  letter-spacing: @letter-spacing--h3;
}
h1,
h2,
h3 {
  font-weight: @font-weight--headings;
}
h4,
h5,
h6 {
  font-size: inherit;
  line-height: @line-height--subheadings;
  letter-spacing: inherit;
  font-weight: @font-weight--subheadings;
}
p {
  font-size: @font-size--p;
  line-height: @line-height--p;
}
kbd {
  font-family: @font-family--kbd;
  font-size: @font-size--kbd;
  background-color: @background-color--kbd;
}
.subtext {
  color: @color--subtext;
}
.markup-link {
  .underline(@y--underline);
}
.markup-link--normal {
  .underline-color(@color--underline);
}
.markup-link--light {
  .underline-color(@color--underline--light);
}
.article-meta--markup-link:hover {
  cursor: pointer;
  .underline(@y--underline);
  .underline-color(@color--underline--light);
}

// components
// : main
.page-main {
  margin-top: @margin-top--page-main;
  margin-bottom: @margin-bottom--page-main;
}
// : header
.page-header {
  background-color: @background-color--page-header;
  height: @height--page-header;
  width: @width--page-header;
  position: absolute;
  top: 0;
  font-family: @font-family--page-header;
  font-weight: @font-weight--page-header;
  font-size: @font-size--page-header;
  line-height: @line-height--page-header;
  letter-spacing: @letter-spacing--page-header;
  z-index: @z-index--page-header;
}
.page-header.isTransitioned {
  .transition-transform(@transition-timing--page-header);
}
.page-header.isAffixed {
  position: fixed;
  box-shadow: @box-shadow--page-header;
  .translate3d(0, (ceil(@height--page-header)*-1), 0);
}
.page-header.isAffixed.isShown {
  .translate3d(0, 0, 0);
}
// : nav
.navBar {
  color: @color--navBar;
  width: @width--navBar;
}
.navBar-list {
  position: relative;
  text-align: right;
}
.navBar-item {
  display: inline-block;
  margin-left: @margin-left--navBar-item;
}
.navBar-item--left {
  float: left;
}
.navBar-item:first-child,
.navBar-item--left {
  margin-left: 0;
}
.navBar-item--affirmative {
  color: @color--navBar-item--affirmative;
}
.navBar-title {
  color: @color--navBar-title;
}
.navBar-title:before {
  content: @content--navBar-title;
}
.navBar-titleLoader:before {
  content: @content--navBar-titleLoader;
}
.navBar-titleLoader-ellipse:before {
  content: @content--navBar-titleLoader-ellipse;
}
// : search
.searchField {
  display: inline-block;
  margin-top: @margin-top--searchField;
  margin-bottom: @margin-bottom--searchField;
}
.input--search {
  padding: @padding-top--input--search 0;
}
.searchResults {
  margin-top: @margin-top--searchResults;
  margin-bottom: @margin-bottom--searchResults;
}
.card-link {
  display: block;
  padding-top: @padding-top--card-link;
  padding-bottom: @padding-bottom--card-link;
}
.card-meta {
  font-size: @font-size--card-meta;
}
.noResults {
  padding-top: @padding-top--noResults;
}
// : article
.article-header {
  padding-top: @padding-top--article-header;
  padding-bottom: @padding-bottom--article-header;
}
.article-meta {
  font-size: @font-size--article-meta;
}
.article-meta > * {
  position: relative;
  display: inline-block;
}
.meta-separator:before {
  content: @content--meta-separator;
}
.article-body {
  margin-top: @margin-top--article-body;
  margin-bottom: @margin-bottom--article-body;
  white-space: pre-wrap;
}
.article-body--lyrics {
  margin-top: @margin-top--article-body--lyrics;
}
// : edit
.article-artist--edit {
  width: @width--article-artist--edit;
}
.article-album--edit {
  width: @width--article-album--edit;
}
.autocomplete {
  position: absolute;
  background-color: @background-color--autocomplete;
  z-index: @z-index--autocomplete;
}
.autocomplete-item {
  .text-overflow();
}
.autocomplete-item:hover {
  cursor: pointer;
}
.autocomplete-item.selected {
  background-color: @background-color--autocomplete-item--selected;
  color: @color--autocomplete-item--selected;
}
.textarea--edit {
  resize: none;
  overflow-x: auto;
  overflow-y: hidden;
  .transition(@transition-timing--textarea--edit);
}
.input--edit,
.textarea--edit {
  &:hover,
  &:focus {
    background-color: @background-color--input--edit;
  }
}
// : about
.answer + .question {
  margin-top: @margin-top--question;
}

// responsiveness
// : small screens
@media (max-width: @width-screen-sm-max) {
  html {
    font-size: @font-size--html-sm;
  }
}
