// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}

// temp
body {
  color: blue;
}
.results {
  background: #ccc;
}
.results--artist {
  background: fade(red, 20%);
}
.results--album {
  background: fade(green, 20%);
}
.results--song {
  background: fade(blue, 20%);
}
.results--lyrics {
  background: fade(orange, 20%);
}
