.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-progress {
  background-color: #eee;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.3s, opacity 0.3s 0.2s;
  -moz-transition: width 0.3s, opacity 0.3s 0.2s;
  -o-transition: width 0.3s, opacity 0.3s 0.2s;
  transition: width 0.3s, opacity 0.3s 0.2s;
}

.pace-progress[data-progress="99"] {
  opacity: 0;
}