// responsiveness
// : variables
@width-screen-sm-min: 480px;
@width-screen-md-min: 800px;
@width-screen-lg-min: 1100px;
@width-screen-sm-max: (@width-screen-md-min - 1);
@width-screen-md-max: (@width-screen-lg-min - 1);

// colors
// : variables
@color-gray-darkest:  rgba(0,0,0,0.72);
@color-gray-darker:   rgba(0,0,0,0.6);
@color-gray-dark:     rgba(0,0,0,0.6);
@color-gray:          rgba(0,0,0,0.4);
@color-gray-light:    rgba(0,0,0,0.24);
@color-gray-lighter:  rgba(0,0,0,0.16);
@color-gray-lightest: rgba(0,0,0,0.08);
@color-white:         rgb(255,255,255);
@color-temp:          rgba(255,0,0,0.1);
// : applications
@background-color--body:        @color-white;
@background-color--page-header: @color-white;
@color--body:                   @color-gray-darkest;
@color--a:                      inherit;
@color--box-shadow--a:          @color-gray-light;
@color--border--hr:             @color-gray-lighter;
@color--meta:                   @color-gray-light;
@color--navBar:                 @color-gray-light;
@color--placeholder:            @color-gray-light;

// sizing
@size-tera:         4.3208;
@size-giga:         3.2308;
@size-mega:         2.6154;
@size-largest:      2;
@size-larger:       1.6154;
@size-large:        1.2308;
@size-base:         1;
@size-small:        0.7692;
@size-smaller:      0.6154;
@size-smallest:     0.4615;
@size-rem-tera:     unit(@size-tera, rem);
@size-rem-giga:     unit(@size-giga, rem);
@size-rem-mega:     unit(@size-mega, rem);
@size-rem-largest:  unit(@size-largest, rem);
@size-rem-larger:   unit(@size-larger, rem);
@size-rem-large:    unit(@size-large, rem);
@size-rem-base:     unit(@size-base, rem);
@size-rem-small:    unit(@size-small, rem);
@size-rem-smaller:  unit(@size-smaller, rem);
@size-rem-smallest: unit(@size-smallest, rem);

// typography
// : font-size-variables
@font-size-px-base:      19px;
@font-size-px-small:     17.5px;
@font-size-em-mega:      unit(@size-mega, em);
@font-size-em-largest:   unit(@size-largest, em);
@font-size-em-larger:    unit(@size-larger, em);
@font-size-em-large:     unit(@size-large, em);
@font-size-em-base:      unit(@size-base, em);
@font-size-em-small:     unit(@size-small, em);
@font-size-em-smaller:   unit(@size-smaller, em);
@font-size-em-smallest:  unit(@size-smallest, em);
// : font-size-applications
@font-size--html:                @font-size-px-base;
@font-size--html-sm:             @font-size-px-small;
@font-size--body:                @font-size-em-base;
@font-size--h1:                  @font-size-em-largest;
@font-size--h2:                  @font-size-em-largest;
@font-size--h3:                  @font-size-em-large;
@font-size--p:                   @font-size-em-base;
@font-size--card-meta:           @font-size-em-base;
@font-size--article-meta:        @font-size-em-base;
@font-size--navBar:              @font-size-em-base;
@font-size--page-header:         @font-size-em-base;
// @font-size--page-header--search: @font-size-em-large;
@font-size--page-footer:         @font-size-em-base;
// : font-family-variables
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:      "PT Serif", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:  Consolas, Monaco, "Andale Mono", monospace;
// : font-family-applications
@font-family--body:                @font-family-serif;
@font-family--headings:            @font-family-sans-serif;
@font-family--meta:                @font-family-serif;
@font-family--page-header:         @font-family-sans-serif;
// @font-family--page-header--search: @font-family-sans-serif;
@font-family--page-footer:         @font-family-sans-serif;
// : font-weight-variables
@font-weight-bold:      700;
@font-weight-semibold:  500;
@font-weight-normal:    400;
@font-weight-semilight: 300;
// : font-weight-applications
@font-weight--body:                @font-weight-normal;
@font-weight--headings:            @font-weight-semibold;
@font-weight--meta:                @font-weight-normal;
@font-weight--page-header:         @font-weight-bold;
// @font-weight--page-header--search: @font-weight-normal;
@font-weight--page-footer:         @font-weight-normal;
// : line-height-variables
@line-height-tightest: 1.1;
@line-height-tighter:  1.2;
@line-height-tight:    1.3;
@line-height-base:     1.4;
@line-height-loose:    1.5;
@line-height-looser:   1.6;
// : line-height-applications
@line-height--body:                @line-height-base;
@line-height--h1:                  @line-height-tightest;
@line-height--h2:                  @line-height-tightest;
@line-height--h3:                  @line-height-tighter;
@line-height--p:                   @line-height-loose;
@line-height--meta:                @line-height-base;
@line-height--page-header:         @line-height-base;
// @line-height--page-header--search: @line-height-tighter;
@line-height--page-footer:         @line-height-base;
// : letter-spacing-variables
@letter-spacing-tighter: -0.02em;
@letter-spacing-tight:   -0.01em;
@letter-spacing-base:    0;
@letter-spacing-loose:   0.02em;
@letter-spacing-looser:  0.04em;
// : letter-spacing-applications
@letter-spacing--body:                @letter-spacing-base;
@letter-spacing--h1:                  @letter-spacing-tight;
@letter-spacing--h2:                  @letter-spacing-tight;
@letter-spacing--h3:                  @letter-spacing-base;
@letter-spacing--meta:                @letter-spacing-base;
@letter-spacing--page-header:         @letter-spacing-base;
// @letter-spacing--page-header--search: @letter-spacing-base;
@letter-spacing--page-footer:         @letter-spacing-base;

// layout
// : variables
@container-gutter:         0.04;
@container-gutter-percent: percentage(@container-gutter);
// : applications
@width--container:             100%;
@max-width--container:         @width-screen-md-min;
@padding-left--container:      (@container-gutter * @max-width--container);
@padding-left--container-sm:   @container-gutter-percent;
@width--page-header:           100%;
@height--page-header:          @size-rem-mega;
// @padding-left--page-header:    @padding-left--container;
// @padding-top--page-header:     @padding-left--container;
// @padding-left--page-header-sm: @padding-left--container-sm;
@width--navBar:                @width--page-header;
// @padding-top--input--search:   0.75rem;

// spacing
@margin-bottom--page-main:       @height--page-header;
@margin-top--page-main:          @height--page-header;
@margin-top--searchField:        @size-rem-large;
@margin-bottom--searchField:     @size-rem-large;
@padding-top--card-link:         @size-rem-large;
@padding-bottom--card-link:      @size-rem-large;
@padding-top--article-header:    @padding-top--card-link;
@padding-bottom--article-header: @padding-bottom--card-link;
@margin-top--article-lyrics:     @size-rem-smaller;
@margin-bottom--article-lyrics:  @size-rem-large;
// @margin-bottom--article-header:  1.5rem;

// miscellaneous
// @border-bottom--input--search: 1px solid @color-gray-lighter;
@transition--textarea--lyrics: 0.15s;

// content
// TO DO
