<header id="stickyHeader" class="page-header u-alignMiddle" sticky-header>
  <nav class="navBar u-alignBlock">
    <div class="container container--header">
      <ul class="navBar-list u-textAlignRight">
        <li class="navBar-item navBar-item--left" ng-if="isActiveCtrl('SearchCtrl')">
          <a href="#" ng-click="clearSearch()" class="navBar-action navBar-title" ng-show="globals.isDoneQuerying"></a>
          <span class="navBar-action navBar-title navBar-titleLoader" ng-hide="globals.isDoneQuerying">
            <span class="navBar-titleLoader-ellipse"></span><span class="navBar-titleLoader-ellipse"></span><span class="navBar-titleLoader-ellipse"></span>
          </span>
        </li>
        <li class="navBar-item navBar-item--left" ng-if="!isActiveCtrl('SearchCtrl')">
          <a href="/" class="navBar-action navBar-title" ng-show="globals.isDoneQuerying"></a>
          <span class="navBar-action navBar-title navBar-titleLoader" ng-hide="globals.isDoneQuerying">
            <span class="navBar-titleLoader-ellipse"></span><span class="navBar-titleLoader-ellipse"></span><span class="navBar-titleLoader-ellipse"></span>
          </span>
        </li>
        <!-- SearchCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('SearchCtrl')">
          <a href="/about" class="navBar-action">about</a>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('SearchCtrl')">
          <a href="/add" class="navBar-action">add</a>
        </li>
        <!-- ViewCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('ViewCtrl')" ng-show="song._id.$oid">
          <a ng-href="/{{song._id.$oid}}/edit" class="navBar-action">edit</a>
        </li>
        <!-- EditCtrl -->
        <li class="navBar-item navBar-item--affirmative" ng-if="isActiveCtrl('EditCtrl')" ng-show="(song.song=='this.delete()')">
          <button class="button navBar-action" ng-click="destroy()">delete</button>
        </li>
        <li class="navBar-item navBar-item--affirmative" ng-if="isActiveCtrl('EditCtrl')" ng-show="editForm.$valid && !isClean()">
          <button ng-click="save()" class="button navBar-action" ng-disabled="editForm.$invalid || isClean()">save</button>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('EditCtrl')" ng-show="song._id.$oid">
          <a ng-href="/{{song._id.$oid}}" class="navBar-action">cancel</a>
        </li>
        <!-- AddCtrl -->
        <li class="navBar-item navBar-item--affirmative" ng-if="isActiveCtrl('AddCtrl')" ng-show="editForm.$valid">
          <button ng-click="save()" class="button navBar-action" ng-disabled="editForm.$invalid">save</button>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('AddCtrl')">
          <a href="#" navigate-back class="navBar-action">cancel</a>
        </li>
        <!-- AboutCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('AboutCtrl')">
          <a href="#" navigate-back class="navBar-action">back</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
