<header class="page-header u-alignMiddle" ng-class="{isAffixed: isAffixed, isShown: isShown, isTransitioned: isTransitioned}" sticky-header>
  <nav class="navBar u-alignBlock">
    <div class="container container--header">
      <ul class="navBar-list u-textAlignRight">
        <li class="navBar-item navBar-item--left"><a href="/" class="navBar-action navBar-title"></a></li>
        <!-- SearchCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('SearchCtrl')">
          <a href="/about" class="navBar-action">about</a>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('SearchCtrl')">
          <a href="/add" class="navBar-action">add</a>
        </li>
        <!-- ViewCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('ViewCtrl')">
          <a class="navBar-action" ng-href="/{{song._id.$oid}}/edit">edit</a>
        </li>
        <!-- EditCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('EditCtrl')">
          <a class="navBar-action" ng-href="/{{song._id.$oid}}">cancel</a>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('EditCtrl')">
          <button class="button navBar-action" ng-click="destroy()">delete</button>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('EditCtrl')">
          <button class="button navBar-action" ng-click="save()" ng-disabled="editForm.$invalid || isClean()">save</button>
        </li>
        <!-- AddCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('AddCtrl')">
          <a href="/" class="navBar-action">cancel</a>
        </li>
        <li class="navBar-item" ng-if="isActiveCtrl('AddCtrl')">
          <button class="button navBar-action" ng-click="save()" ng-disabled="editForm.$invalid">add this song</button>
        </li>
        <!-- AboutCtrl -->
        <li class="navBar-item" ng-if="isActiveCtrl('AboutCtrl')">
          <a href="/" class="navBar-action">back</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
