<ng-include src="'views/partial--header.html'"></ng-include>

<main class="page-main container">

  <!-- <h1 class="searchField u-fillWidth">
    <input class="input input--search u-fillWidth" type="text" ng-model="searchInput" ng-model-options="{debounce: {'default': 500}}" ng-change="updateResults()" placeholder="search lyrics" autofocus="autofocus">
  </h1> -->

  <h1 class="searchField u-fillWidth">
    <input class="input input--search u-fillWidth" type="text" ng-model="searchInput" ng-model-options="{debounce: {'default': 500}}" ng-change="setQueryParams()" placeholder="search lyrics" focus>
  </h1>

  <div class="searchResults" ng-show="(formattedQ.length > 0)">

    <section class="cards">
      <ul class="searchResults-list" ng-show="(searchType === searchTypes.all)">
        <li class="card" ng-include="'views/partial--card.html'" ng-repeat="song in songs | filter:filterSearch(q, searchTypes.all) | limitTo:resultLimit as filteredSongsAll track by song._id.$oid"></li>
      </ul>

      <ul class="searchResults-list searchResults-list--artist" ng-show="(searchType === searchTypes.artist)">
        <li class="card" ng-include="'views/partial--card.html'" ng-repeat="song in songs | filter:filterSearch(q, searchTypes.artist) | limitTo:resultLimit as filteredSongsArtist track by song._id.$oid"></li>
      </ul>

      <ul class="searchResults-list searchResults-list--album" ng-show="(searchType === searchTypes.album)">
        <li class="card" ng-include="'views/partial--card.html'" ng-repeat="song in songs | filter:filterSearch(q, searchTypes.album) | limitTo:resultLimit as filteredSongsAlbum track by song._id.$oid"></li>
      </ul>

      <ul class="searchResults-list searchResults-list--song" ng-show="(searchType === searchTypes.song)">
        <li class="card" ng-include="'views/partial--card.html'" ng-repeat="song in songs | filter:filterSearch(q, searchTypes.song) | limitTo:resultLimit as filteredSongsSong track by song._id.$oid"></li>
      </ul>

      <ul class="searchResults-list searchResults-list--lyrics" ng-show="(searchType === searchTypes.lyrics)">
        <li class="card" ng-include="'views/partial--card.html'" ng-repeat="song in songs | filter:filterSearch(q, searchTypes.lyrics) | limitTo:resultLimit as filteredSongsLyrics track by song._id.$oid"></li>
      </ul>
    </section>

    <section class="noResults" ng-show="isDoneQuerying
                                        && (!filteredSongsAll || (filteredSongsAll.length == 0))
                                        && (!filteredSongsArtist || (filteredSongsArtist.length == 0))
                                        && (!filteredSongsAlbum || (filteredSongsAlbum.length == 0))
                                        && (!filteredSongsSong || (filteredSongsSong.length == 0))
                                        && (!filteredSongsLyrics || (filteredSongsLyrics.length == 0))">
      <p class="noResults-text">No results found. <a class="noResults-link" href="/add">Add lyrics</a> for this.</p>
    </section>

  </div>

  <!-- <ng-include src="'views/partial--footer.html'"></ng-include> -->

</main>
